#perseo-feedback-widget {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #0A2944;
    color: #fff;
    padding: 15px;
    text-align: center;
    z-index: 9999;
    transition: top 2s ease-in-out, bottom 2s ease-in-out, opacity 2s ease-in-out;
}

#perseo-feedback-widget span {
    font-weight: bold;
}

#perseo-feedback-widget.top {
    top: -100px;
    transition: top 2s ease-in-out;
}

#perseo-feedback-widget.bottom {
    bottom: -100px;
    transition: bottom 2s ease-in-out;
}

#perseo-feedback-widget.top.show {
    top: 0;
    animation: slideInDown 2s 0.5s linear;
}

#perseo-feedback-widget.bottom.show {
    bottom: 0;
    animation: slideInUp 2s 0.5s linear;
}


#perseo-feedback-widget button {
    margin-left: 10px;
    padding: 5px 10px;
    color: #0A2944;
    background-color: #fff;
    border-radius: 3px;
    cursor: pointer;
    width: 75px;
    border: 1px solid #fff;
}

#perseo-feedback-widget button:hover {
    color: #3E92A2;
    border: 1px solid #3E92A2;
}

#perseo-feedback-close {
    position: absolute;
    top: 10px;
    right: 10px;
    line-height: 20px;
    cursor: pointer;
}

#perseo-feedback-close i {
    font-size: 25px;
}

#perseo-feedback-close i:hover {
    opacity: 0.8;
}

#piechart_feedback,
#piechart_device {
    width: 100%;
    height: 500px;
    margin-bottom: 30px;
}

#piechart_feedback {
    margin-right: 5px;
}

#piechart_device {
    margin-left: 5px;
}

#tables, #charts {
    display: flex;
    flex-direction: row;
}

#table-best, #table-worst {
    width: 100%;
}

.responsive-table {
    width: 100%;
    margin-bottom: 30px;
}

.responsive-table th,
.responsive-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

.statistics, .statistics div {
    display: flex;
    flex-direction: row;
}

.statistics div:last-child {
    margin-left: 25px;
}

.statistics div h2 {
    margin: 0;
    margin-right: 5px;
    padding: 0;
}


@keyframes slideInUp {
    from {
        bottom: -100px;
    }
    to {
        bottom: 0;
    }
}

@keyframes slideInDown {
    from {
        top: -100px;
    }
    to {
        top: 0;
    }
}

@media only screen and (max-width: 600px) {
    #perseo-feedback-widget span {
        width: 100%;
        display: block;
        margin-bottom: 25px;
    }

    #perseo-feedback-widget {
        display: flex;
        flex-direction: column;
    }

    #perseo-feedback-widget button {
        width: 50%;
        margin-bottom: 10px;
    }

    #perseo-feedback-widget.bottom {
        bottom: -200px;
    }

    #perseo-feedback-widget.top {
        top: -200px;
    }

    #tables, #charts {
        flex-direction: column;
    }
}
