#perseo-feedback-widget {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    background-color: #0A2944;
    color: #fff;
    padding: 15px;
    text-align: center;
    z-index: 9999;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in-out;
    border-top-right-radius: 10px;
}

#perseo-feedback-widget.feedback-selected {
    height: auto;
}

#perseo-feedback-widget span {
    font-weight: bold;
}

#perseo-feedback-widget.top {
    top: -100px;
    transition: top 2s ease-in-out;
}

#perseo-feedback-widget.bottom {
    bottom: -100px;
    transition: bottom 2s ease-in-out;
}

#perseo-feedback-widget.top.show {
    top: 0;
    animation: slideInDown 2s 0.5s linear;
}

#perseo-feedback-widget.bottom.show {
    bottom: 0;
    animation: slideInUp 2s 0.5s linear;
}

#perseo-feedback-widget .buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

#perseo-feedback-widget button {
    margin: 0 5px;
    width: 100px;
    padding: 8px 15px;
    color: #0A2944;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#perseo-feedback-widget button:hover {
    background-color: #3E92A2;
    color: #fff;
}

#perseo-feedback-comment {
    display: none;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: vertical;
}

#perseo-feedback-widget.feedback-selected #perseo-feedback-comment {
    display: block;
}

#perseo-feedback-submit {
    margin-top: 15px !important;
}

#perseo-feedback-close {
    position: absolute;
    top: 10px;
    right: 10px;
    line-height: 20px;
    cursor: pointer;
}

#perseo-feedback-close i {
    font-size: 25px;
}

#perseo-feedback-close i:hover {
    opacity: 0.8;
}

#piechart_feedback,
#piechart_device {
    width: 100%;
    height: 500px;
    margin-bottom: 30px;
}

#piechart_feedback {
    margin-right: 5px;
}

#piechart_device {
    margin-left: 5px;
}

#tables, #charts {
    display: flex;
    flex-direction: row;
}

#table-best, #table-worst {
    width: 100%;
}

.responsive-table {
    width: 100%;
    margin-bottom: 30px;
}

.responsive-table th,
.responsive-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

.statistics, .statistics div {
    display: flex;
    flex-direction: row;
}

.statistics div:last-child {
    margin-left: 25px;
}

.statistics div h2 {
    margin: 0;
    margin-right: 5px;
    padding: 0;
}


@keyframes slideInUp {
    from {
        bottom: -100px;
    }
    to {
        bottom: 0;
    }
}

@keyframes slideInDown {
    from {
        top: -100px;
    }
    to {
        top: 0;
    }
}

@media only screen and (max-width: 600px) {

    #perseo-feedback-widget {
        width: 100%;
        bottom: 10px;
        display: flex;
        flex-direction: column;
        border: none;
    }

    #perseo-feedback-widget span {
        width: 100%;
        display: block;
        margin-bottom: 25px;
        box-sizing: border-box;
    }

    #perseo-feedback-widget .buttons-container {
        flex-direction: column;
        width: 100%;
    }

    #perseo-feedback-widget button {
        width: 100%;
        margin: 5px 0;
    }

    #perseo-feedback-widget textarea {
        width: 100%;
        box-sizing: border-box;
    }

    #perseo-feedback-widget.bottom {
        bottom: -200px;
    }

    #perseo-feedback-widget.top {
        top: -200px;
    }

    #tables, #charts {
        flex-direction: column;
    }
}
