#perseo-feedback-widget {
    position: fixed;
    top: -100px; 
    width: 100%;
    background-color: #0A2944;
    color: #fff;
    padding: 15px;
    text-align: center;
    z-index: 9999;
    opacity: 0;
    transition: top 2s ease-in-out, opacity 2s ease-in-out;
}

#perseo-feedback-widget.show {
    top: 0;
    opacity: 1;
}

#perseo-feedback-widget button {
    margin-left: 10px;
    padding: 5px 10px;
    color: #0A2944;
    background-color: #fff;
    border-radius: 3px;
    cursor: pointer;
    width: 75px;
    border: 1px solid #fff;
}

#perseo-feedback-widget button:hover {
    color: #3E92A2;
    border: 1px solid #3E92A2;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slideInUp {
    from {
        top: -100px;
    }
    to {
        top: 0;
    }
}

#perseo-feedback-widget.show {
    animation: fadeIn 2s 0.5s linear, slideInUp 2s 0.5s linear;
}

@media only screen and (max-width: 600px) {
    #perseo-feedback-widget span {
        width: 100%;
        display: block;
        margin-bottom: 25px;
    }
  }